{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	| Cart
{% endblock %}

{% block body %}

	<div class="container my-5 p-3">

		<h1 class="text-center fs-1 fw-bold">Cart</h1>
		<hr/>

		{{include('cart/_form.html.twig')}}

	</div>

{% endblock %}
