{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	|
	{{vendor.name}}
	Products
{% endblock %}


{% block body %}
	<div class="container my-5 p-3" {{stimulus_controller('refresh',{refreshUrl:path('app_vendor_edit',{'id':vendor.id} )})}}>

		<div data-refresh-target="refreshContent">
            {{include('product/index_content.html.twig')}}
		</div>

	</div>
{% endblock %}
