<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		{{include('components/product_navbar.html.twig')}}
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		{{include('product/products_table.html.twig')}}
	</div>
</div>
