{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	| New Product
{% endblock %}

{% block body %}

	<div class="container my-5 p-3">

		<h1 class="text-center fs-1 fw-bold">New Product</h1>
		<hr/>

		{{ include('product/_form.html.twig') }}

	</div>


{% endblock %}