.errorIcon{
    height: 20px;
    width: 20px;
}

.successIcon{
    height: 22px;
    width: 22px;
}

.buyNowIcon{
    height: 20px;
    width: 18px;
}

.cartIcon{
    height: 21px;
    width: 21px;
}