nav {
    background-color: aliceblue;

    .navbar-brand {
        font-size: 1.6rem;
        font-weight: 600;
    }

    ul {
        li {
            cursor: pointer;
            >a {

                color: black !important;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}