.product-container {
    .product-card {
        width: 100%;
        height: 100%;
        
        img {
            height: 200px !important;
            object-fit: scale-down;
        }

        .card-body {
            .categories {
                font-size: 0.6rem;
                margin-top: 2rem;
            }

            .button-container {
                margin-top: 2rem;
            }
        }

        &:hover {
            .card-body {

                .card-title,
                .card-text {
                    color: black;
                }
            }
        }
    }
}