.profile-navbar {
    ul {
        li>a {
            color: white !important;
            padding: 1rem;
        }

        li:hover {
            background-color: white;
            border-radius: 1rem;

            >a {
                color: black !important;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .profile-navbar {
        
        ul {
            flex-direction: column !important;
            justify-content: space-around;
            align-items: start;

            li{
                width: 100%;
            }
        }
    }
}