@import "~bootstrap/scss/bootstrap"; // Bootsrap
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); // Font
@import "./components/main.scss";


$bgColor: white;
$fontFamily : 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden !important;
    background-color: $bgColor;
    font-family: $fontFamily;

    form {
        label {
            font-weight: 600;
        }

        input {
            padding: 0.6rem;
        }
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .button-container {
        button,a {
            width: 100%;
        }
    }
    
}