<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Vendor Valley
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

		{# Font Awesome #}
		<script src="https://kit.fontawesome.com/bd7ff58664.js" crossorigin="anonymous"></script>
	</head>
	<body>

		{% block nav %}
			{{include('components/nav.html.twig')}}
		{% endblock %}

		<main>
			{% block body %}{% endblock %}
		</main>

		{% block footer %}
			{{include('components/footer.html.twig')}}
		{% endblock %}

	</body>
</html>
