<div class="dropdown">
	<i class="fa-solid fa-ellipsis" data-bs-toggle="dropdown" aria-expanded="false"></i>

	<ul class="dropdown-menu">
		<li class="">
			<a class="dropdown-item edit" href="{{editLink}}">Edit</a>
		</li>
		<li class="">
			<a class="dropdown-item delete" href="#">
				{{include(deleteFormPath)}}
			</a>
		</li>
	</ul>
</div>
