<div class="card mb-5">
	<div class="card-body">
		<div class="row align-content-start">
			<div class="col-10 d-flex">
				<h5 class="card-title">Order#{{order.orderNumber}}</h5>
				<span class="ms-3">{{order.createdAt|date('M j, Y')}}</span>
			</div>
			<div class="col-2">
				<a href="#" class="btn btn-primary float-end">View Order</a>
			</div>
		</div>

		<div>
			<p class="card-text">Number of Items:
				{{order.orderItems|length}}</p>
			<p class="card-text">Total:
				{{order.totalAmount|currency}}</p>
		</div>
	</div>
</div>
