<div class="product-navbar user-navbar bg-primary text-white rounded mb-5">

	<ul class="d-flex p-3">

		<li class="p-2">
			<a href="{{path('app_product_new',{'id':vendor.id})}}">Create</a>
		</li>
	</ul>
</div>