<div class="vendor-navbar user-navbar bg-primary text-white rounded mb-5">

	<ul class="d-flex p-3">

        <li class="p-2">
			<a href="{{path('app_vendor_profile',{'id':vendor.id})}}">Profile</a>
		</li>

		<li class="p-2">
			<a href="{{path('app_product_index',{'id':vendor.id})}}">Products</a>
		</li>

		<li class="p-2">
			<a href="{{path('app_vendor_order_index',{'id':vendor.id})}}">Orders</a>
		</li>
		
	</ul>
</div>
